:root {
    --primary-color-buttons-down: linear-gradient(#037703, #aefd34);
    --primary-color-buttons: linear-gradient(#014301, #25a50e);
    --primary-color-buttons-focus: linear-gradient(#25a50e, #014301);
    --color-card: linear-gradient(#037703, #aefd34);
}


body {
  font-family: 'Roboto', Arial, sans-serif;
}

.footer{
    max-width: 60%;
    margin: 0 auto;
    bottom: 0;
    position: sticky;
}

.container {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    /*background-color: #f0f0f0;*/
    /*backdrop-filter: blur(5px);*/
}


.leaderr {
    color: rgb(255, 0, 0);
}
.font-white{
    color: rgb(252, 253, 252);
}

.font-google1{
font-family: 'Open Sans', sans-serif;
}

.font-google2{
    font-family: 'Pacifico', cursive;
    font-family: 'Shantell Sans', cursive;
}


a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

.social-icons-1 {
    padding: 0;
    list-style: none;
    margin: 10px;
}
.social-icons-1 li {
    display: inline-block;
    position: relative;
    font-size: 24px;
}
.social-icons-1 i,
.social-icons-1 img {
    color: #fff;
    position: absolute;
    top: 18px;
    left: 18px;
    width: 24px;
    height: 24px;
    text-align:center;
    transition: all 0.3s ease-out;
}
.social-icons-1 a {
    display: inline-block;
}
.social-icons-1 a:before {
    transform: scale(1);
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: block;
    background: linear-gradient(45deg, #337AB7, #2d6b9f);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 2px 4px rgba(0,0,0,0.2);
    transition: all 0.3s ease-out;
}
.social-icons-1 a:hover:before {
    transform: scale(0);
    transition: all 0.3s ease-in;
}
.social-icons-1 a:hover i,
.social-icons-1 a:hover img {
    transform: scale(1.8);
    color: #337AB7;
    transition: all 0.3s ease-in;
}

.bg-col4-cells {
    /*opacity: 0.96;*/
    /*background-color: #2b7a78;*/
    background-color: #61892f;
}

.bg-cols-tab {
    /*background-color: #828485;*/
    /*opacity: 0.96;*/
    /*background: linear-gradient(#85898c, #6c7278);*/
    /*background-color: #def2f1;*/
    background-color: #86c232;
}

.card {
    /*opacity: 0.96;*/
    background: var(--color-card);
    font-weight: bold;
    /*background-color: #def2f1;*/
}

.font-card-color{
    color: #2b2f32;
}

.image-blurred-edge- {
  /*box-shadow: 0 0 8px 8px green inset;*/
 --r: 15% 75px 35vh 13vw/ 3em 5rem 29vmin 12.5vmax;
  border-radius: var(--r);
  /* same styles as before */

  &:before {
    /* same styles as before */
    border-radius: inherit;
    clip-path: inset(0 round var(--r));
  }
}

.buttons.div90{
    width: 100%;
}

.buttons{
    background: var(--primary-color-buttons);
}

.buttons:focus{
    outline: none;
    /**/
}
.buttons:hover{
    background: var(--primary-color-buttons-focus);/* var(--primary-color-buttons); */
}

.buttons:focus:active{
    background: var(--primary-color-buttons-down);
}
.carousel-inner {
height: 100%;
}

@media all and (orientation:landscape) {
 /* стили для пейзажа */
    .container {
        max-width: 55%;
        /*font-size: 25px;*/
    }
    .class-price{
        font-size: 15px;
    }
    .social-icon{
          position: relative;
        margin-left: 0;
        margin-right: 0;
        background-size: cover;

      width: 50px;
      height: 50px;
      border-radius: 50%;
        overflow: hidden;
        margin-bottom: 80px;
    }

    .footer{
        height: 80px;
    }

}
@media all and (orientation:portrait) {
 /* стили для портрета */
    .container{
        max-width: 100%;
        font-size: 20px;
    }
    .social-icon{
          position: relative;
        margin-left: 0;
        margin-right: 0;
        background-size: cover;

        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 130px;
    }

    .footer{
        height: 150px;
    }
}



.avatar-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: white;
    background-size: cover;
    width: 250px;
    height: 400px;
    border-radius: 50px;
    /*overflow: hidden;*/
    /*box-shadow: inset 0px 0px 40px 20px #a6eda6; !* change to alter the effect*!*/

    clip-path: ellipse(50% 50% at 50% 50%);
  /*  position: relative;*/
  /*  margin-left: auto;*/
  /*  margin-right: auto;*/
  /*  background-position: top center;*/
  /*!*margin: 0px 0 10 02px;*!*/
  /*-moz-border-radius: 100px / 50px;*/
  /*-webkit-border-radius: 100px / 70px;*/
  /*border-radius: 50px;*/
  /*clip-path: ellipse(50% 50% at 50% 50%);*/
  /*width: 250px;*/
  /*height: 400px;*/

}


/*.avatar-container{*/
/*    border-radius: 25%;*/
/*    -webkit-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);*/
/*    -moz-box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px rgba(255,255,255,1);*/
/*    box-shadow: 0 0 20px rgba(255,255,255,.6), inset 0 0 20px green ;*/
/*    !*-webkit-border-radius: 60em;*!*/
/*    !*-moz-border-radius: 60em;*!*/
/*    !*border-radius: 60em;*!*/
/*}*/


.social-logo{
    width: 256px;
    height: 256px;
}

.img-fit {
  object-fit: contain;
  width: 100%;
  height: 100%;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    border-radius: 50%;
}

