<br>
{% if setting.logo %}
    <div class="row text-center gx-2 gy-4 image-blurred-edge">
        <div class="border-dark border-5 d-flex align-content-center justify-content-center">
            <div class="avatar-container" style='background-image: url("{{ setting.logo.url }}")'>
{#                <img class="bg-info rounded-circle " src="{{ setting.logo.url }}" style="width: 30%; "/>#}
            </div>
        </div>
    </div>
{% endif %}
<br>
{% if setting.nick %}
    <div class="row text-center gx-2 gy-4">
            <div class="d-flex align-content-center justify-content-center" style="30%">
                <div class="alert alert-success align-self-end" role="alert">
                    {{ setting.nick }}
                </div>
            </div>
    </div>
{% endif %}
<br>
{% if setting.description %}
    <div class="row text-center gx-2 gy-4">
            <div class="d-flex align-content-center justify-content-center" style="60%">
                <div class="alert alert-success align-self-end" role="alert">
                    {{ setting.description }}
                </div>
            </div>
    </div>
{% endif %}