{#{% load thumbnail %}#}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="min-width: 100%; min-height: 100%">
  <div class="carousel-inner">
{#    <div class="carousel-item active">#}
{#      <img src="..." class="d-block w-100" alt="...">#}
{#    </div>#}

      {% for post in posts %}
{#          {% if post.image %}#}
            <div class="carousel-item {% if forloop.first %} active {% endif %}">
              <img src="{{ post.image.url }}" class="d-block w-100" alt="{{ post.image.title }}"/>
            </div>
{#          {% endif %}#}
      {% endfor %}

  </div>

 <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>
